* {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #1a1a1a;
}



#tutorial {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#tutorial p {
    display: inline-block;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    width: 60vw;
}

#tutorial button {
    display: block;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    font-size: 2vh;
    font-weight: 700;
    letter-spacing: 0.5vh;
    padding: 1vh 3vh 1vh 3.5vh;
    border: 0.45vh solid #ffffff;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

#tutorial button:hover {
    color: rgba(26, 26, 26, 1);
    background-color: rgba(255, 255, 255, 1);
}



#colors div {
    display: table-cell;
    width: 50vw;
    height: 35vh;
}

#colors p {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-weight: 700;
}



#gradient {
    width: 100vw;
    height: 40vh;
}



#controls {
    height: 20vh;
}

#controls svg {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #ffffff;
    stroke: none;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#copy {
    display: inline-block;
    position: absolute;
    top: 74.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1a1a1a;
    font-weight: 700;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#text {
    display: inline-block;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7vh;
    font-weight: 700;
    padding: 1vh 3vh 1vh 3vh;
    border: 0.45vh solid #ffffff;
}

#buttons {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#buttons button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    font-size: 2vh;
    font-weight: 700;
    letter-spacing: 0.5vh;
    padding: 1vh 3vh 1vh 3.5vh;
    margin: 0 7.5vw 0 7.5vw;
    border: 0.45vh solid #ffffff;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

#buttons button:hover {
    color: rgba(26, 26, 26, 1);
    background-color: rgba(255, 255, 255, 1);
}

#copyText {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1a1a1a;
    opacity: 0;
}



@media (max-width: 1025px) {
    #tutorial button {
        top: 30%;
    }

    #colors div {
        height: 30vh;
    }

    #gradient {
        height: 30vh;
    }

    #controls svg {
        top: 60.5%;
    }

    #copy {
        top: 60%;
    }

    #buttons {
        top: 75%;
    }

    #buttons button {
        display: block;
        margin: 3vh 0 0 0;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

@media (max-width: 575px) {
    #tutorial button {
        top: 25%;
    }

    #text {
        font-size: 3.8vw;
    }

    #buttons button {
        font-size: 3.5vw;
    }
}

@media (max-width: 450px) {
    #tutorial p {
        font-size: 2.2vh;
    }

    #tutorial button {
        top: 20%;
        font-size: 2vh;
        letter-spacing: 0.3vh;
        padding: 0.5vh 2vh 0.5vh 2.5vh;
    }
}